<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
# get matplot to show charts inline
%matplotlib inline

chrome://settings/content/cookies

NOTE: Make sure third party cookies are not blocked.

In [10]:
df = pd.read_csv("../../DATA/Employee-attrition.csv")

NameError: name 'pd' is not defined

In [11]:
df.head(10)

NameError: name 'df' is not defined

In [ ]:
df.tail()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

# Accessing the main DataFrame components

In [ ]:
columns = df.columns
index = df.index
data = df.values

In [ ]:
columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

In [ ]:
index

RangeIndex(start=0, stop=49653, step=1)

In [ ]:
data

array([[1318, '12/31/2006 0:00', '1/3/1954', ..., 2006, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2007 0:00', '1/3/1954', ..., 2007, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2008 0:00', '1/3/1954', ..., 2008, 'ACTIVE',
        'HEADOFFICE'],
       ...,
       [8279, '12/1/2015 0:00', '7/18/1994', ..., 2015, 'TERMINATED',
        'STORES'],
       [8296, '12/1/2013 0:00', '9/2/1994', ..., 2013, 'TERMINATED',
        'STORES'],
       [8321, '12/1/2014 0:00', '11/28/1994', ..., 2014, 'TERMINATED',
        'STORES']], dtype=object)

# 1. Understanding Data Types

#### 1.A Find the shape of the dataframe

In [12]:
df.shape[1]

NameError: name 'df' is not defined

#### 1.B Find the data types of the dataframe

In [13]:
df.dtypes

NameError: name 'df' is not defined

#### 1.C Find the number of data types in the dataframe



```
Expected Output:
int64      5
object    13
dtype: int64
```

In [15]:
df.dtypes.value_counts()

NameError: name 'df' is not defined

#### 1.D Use Info

Use info and explore the difference.

In [14]:
df.info()

NameError: name 'df' is not defined

# 2. Selecting Column in Data Frame

#### 2.A Check Values of the `job_title` column

In [16]:
df['job_title']

NameError: name 'df' is not defined

#### 2.B Find how many rows are in each job title



```
# Expected Output
Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
.
.
.
```

In [ ]:
job_title = df['job_title']
job_title.value_counts()

#### 2.C [BONUS] Write a function to count the number of rows


```
def row_count(column_name):
    number_of_rows = 0
    return number_of_rows
```

In [19]:
def row_count(df, column_name):
    try:
        number_of_rows = len(df[column_name].dropna())
        return number_of_rows
    except KeyError:
        print(f"Column '{column_name}' not found in the DataFrame.")
        return None

#### 2.D Describe `age`

Find the count, mean, std, min, max of the column 'age'

In [20]:
age = df['age']
age.describe()

NameError: name 'df' is not defined

##### 2.E [BONUS] Describe all numeric columns of the dataframe

Find the count, mean, std, min, max of all columns of the dataframe

In [21]:
df.describe()

NameError: name 'df' is not defined

# 3. Make the index meaningful by making `EmployeeID` the index

In [22]:
df.set_index("EmployeeID", inplace=True)

NameError: name 'df' is not defined

In [ ]:
print(df.index)

#### 3.A Find a specific row using the index

In [24]:
print('df.loc["10"]', df.loc[100])

NameError: name 'df' is not defined

In [25]:
df.iloc[50]

NameError: name 'df' is not defined

#### 3.B Sort the dataframe using the index

In [26]:
df.sort_index()

NameError: name 'df' is not defined

#### 3.C [BONUS] Sort the dataframe using `age`

In [27]:
df.sort_values(['age'], ascending=[0])

NameError: name 'df' is not defined

#### 3.D [BONUS] Using `sample` select any row

In [29]:
df.sample(5)

NameError: name 'df' is not defined

# 4. Query Data Frame

#### 4.A Find rows Where `job_title` is CEO

In [30]:
df[df['job_title'] == 'CEO']

NameError: name 'df' is not defined

In [31]:
df.loc[df['job_title'] == 'CEO']

NameError: name 'df' is not defined

#### 4.B Group by `age` and find how many there are of each age

In [35]:
age_dist = df.groupby(['age']).size()
age_dist

NameError: name 'df' is not defined

In [36]:
df.groupby('city_name', as index=False).age.mean(by='age', ascending=False)

SyntaxError: invalid syntax (2802663838.py, line 1)

In [37]:
df['age'] = df.age

NameError: name 'df' is not defined

# 5. Visualisation


#### 5.A Plot a histogram of `age`

In [39]:
num_bins = 25
n, bins, patches = plt.hist(df.age, num_bins, facecolor='red', alpha=1.0)

NameError: name 'plt' is not defined

#### 5.B BoxPlot of `age`

In [40]:
plt.boxplot(df.age)
plt.yscale('linear')
plt.grid(b=True, which='major', color='g', linestyle='-')
plt.grid(b=True, which='minor', color='r', linestyle='--')
plt.show()

NameError: name 'plt' is not defined

#### 5.C Create a scatterplot of `age` and `length_of_service`

In [41]:
plt.scatter(df.age, df.length_of_service)
plt.show()

NameError: name 'plt' is not defined

#### 5.D Print a statistical summary of `age`

In [42]:
print('statistical summary of observations =',stats.describe(df.age))

NameError: name 'stats' is not defined



---



---



> > > > > > > > > Â© 2023 Institute of Data


---



---